
:root {
  --dark-bg: #061745
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dark body {
  background: var(--dark-bg) !important;
}

.dark .vgt-table tbody {
  background: var(--dark-bg) !important;
}

.dark table.vgt-table td {
  color: white !important;
}

.dark .vgt-global-search {
  background:none
}

.vgt-wrap__footer {
  padding: 0px !important
}